extends base

block content
  main.main
    .success
      .error__title
        h2.heading-secondary.heading-secondary--error= message   
        h2.error__emoji= emoji
      .success__msg Do not close this page, redirecting you in seconds...