extends base



block content
  main.main
    .user-view.mng
      .sector.sector--search
        h2.heading-secondary.ma-bt-lg Search for Tour by Slug
        form.form.form--tour-slug
            .form__group
              label.form__label(for='slug') Tour Slug
              input#slug.form__input(type='text', placeholder='the-forest-hiker', required)
            .result
              .form__group
                button.btn.btn--green Search
              .form__group
                input#status.form__input.form__status.status-slug(type='text', disabled)  

      .sector.sector--search.sec--tour-id
        h2.heading-secondary.ma-bt-lg Search for Tour by ID and Modify
        form.form.form--tour-id
            .form__group
              label.form__label(for='id') Tour ID
              input#id.form__input(type='text', placeholder='5c88fa8cf4afda39709c2955', required)
            .result  
              .form__group
                button.btn.btn--green Search
              .form__group
                input#status.form__input.form__status.status-ID(type='text', disabled)
            .form__group
              a.btn.btn--green.btn--danger.btn--del(disabled) Delete
              

      .sector.sector--add-tour
        h2.heading-secondary.ma-bt-lg Create new tour
        form.form.form--tour-add
          .form__group
            label(for='name') Name
            input.form__input#name(type='text' name='name' required)
          .form__group
            label(for='difficulty') Difficulty
            input.form__input#difficulty(type='text' name='difficulty' required)
          .form__group
            label(for='price') Price
            input.form__input#price(type='number' name='price' required)
          .form__group
            label(for='summary') Summary
            input.form__input#summary(type='text' name='summary' required)
          .form__group
            label(for='description') Description
            input.form__input#description(type='text' name='description' required)
          .form__group
            label(for='duration') Duration
            input.form__input#duration(type='number' name='duration' required)
          .form__group
            label(for='maxGroupSize') Max Group Size
            input.form__input#maxGroupSize(type='number' name='maxGroupSize' required)
          .form__group
            label(for='startLocationDescription') Start Location
            input.form__input#startLocationDescription(type='text' placeholder='Object type of GeoLocation' name='startLocation' required)
          .form__group
            label(for='startDates') Start Dates
            input.form__input#startDates(type='text' placeholder='Array type of dates' name='startDates' required)
          .form__group
            label(for='locations') Locations
            input.form__input#locations(type='text' placeholder='Array type of GeoLocations' name='locations' required)
          .form__group
            label(for='imageCover') Image Cover
            input.form__input#imageCover(type='file' name='imageCover' required)
          .form__group
            label(for='images1') Image 1
            input.form__input#images1(type='file' name='images' required)
          .form__group
            label(for='images2') Image 2
            input.form__input#images2(type='file' name='images' required)
          .form__group
            label(for='images3') Image 3
            input.form__input#images3(type='file' name='images' required)

          .result  
                .form__group
                  button.btn.btn--green Create
                .form__group
                  input#status.form__input.form__status.status-Up(type='text', disabled) 
